POSTGRES_DB=parking_pejam
POSTGRES_USER=parking
POSTGRES_PASSWORD=CHANGE_ME_LONG_RANDOM_VALUE
PARKING_BOOTSTRAP_ADMIN_PASSWORD=CHANGE_ME_LONG_RANDOM_VALUE
PARKING_SENSOR_INGRESS_KEY=CHANGE_ME_LONG_RANDOM_VALUE
PARKING_LICENSE_INSTALLATION_ID=COMPANY-YARD-01
PARKING_DOMAIN=parking.example.com
